        

        <div class="side-like card  hidden-mobile">
            <h5 class="section-title">Suggested Rooms for you</h5>
            <div id="room-container">
                <div id="sug-rooms">

                </div>
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
        </div>

        <div class="side-like card mt-5 hidden-mobile">
            <h5 class="section-title">My Rooms</h5>
            <div id="my-room-container">
                
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
            
        </div>
